{% extends 'layouts/default.twig' %}

{% block content %}
Welcome to <span class="twig">Twig</span> About Us Page!
{% endblock %}

{% block styles %}
<style>
    .twig {
        color: green;
    }
</style>
{% endblock %}