{% extends 'layouts/default.twig' %}

{% block content %}
Welcome to <span class="twig">Twig</span>!
{% endblock %}

{% block styles %}
<style>
    .twig {
        color: lime;
    }
</style>
{% endblock %}